<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</head>
  <body>
    <div class="container-fluid navbar col-10">
      <h1>Home</h1>
      <a href="{% url 'logout' %}" class="btn btn-tool">
        <input type="submit" value="Logout">
      </a>
    </div>

    <div class="container-fluid col-md-10">
      <hr>
      <div class="card-header">
        <div class="navbar">
          <a href="{% url 'order' %}" class="btn btn-tool">
            <input type="submit" value="Create order">
          </a>
          <a href="{% url 'customer' %}" class="btn btn-tool">
            <input type="submit" value="Create customer">
          </a>
        </div>
        <hr>
        <p>Email: {{ request.user.email }}</p>
        <p>User: {{request.user.first_name }} {{ request.user.last_name }}</p>
        <hr>
        <p>Access token: {{ session_data.oidc_access_token }}</p>
        <hr>
        <p>cookies: {{ request.COOKIES }}</p>
        <hr>
      </div>
    </div>
  </body>
</html>